@foreach (var venue in Model)
{
  <p><a href = "/venues/@venue.GetId()">@venue.GetName()</a></p>;
}
<form action="/Venues" method="post">
  <label for="inputVenue">Add another Venue:</label>
  <input name="inputVenue" class="form-control" id="inputVenue">
  <button type="submit" class="btn btn-success">Go.</button>
</form>

<form action="/Venues/Delete" method="post">
  <button type="submit" class="btn btn-success">Cancel all Venues</button>
</form>

<a href="/">Go home</a>
