@{
  Layout = "_LayoutTwo";
}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>@Model["band"].GetDescription()</p>
      <p>@Model["band"].GetPerformanceDate()</p>

      @foreach (var venue in Model["venue"])
      {
        <p><a href = "/venues/@venue.GetId()">@venue.GetName()<a/></p>
      }
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul>


        <form action='/bands/@Model["band"].GetId()' method='post'>
          <input id='band-id' name='band-id' type='hidden' value='@Model["band"].GetId()'>
          <label for='inputVenue'>Add Venue</label>
          <input id='inputVenue' name='inputVenue' type='text'>
          <button type='submit'>Add Venue</button>
        </form>

        <li><a href="/">Home</a></li>
      </ul>
      </div>
    </div>
