@{
  Layout = "_Layout";
}


@foreach (var band in @Model)
{
<p>@band.GetDescription()</p>
<p>@band.GetPerformanceDate()</p>
<a href="/Venues/@band.GetId()/update">Edit</a>
}
<br>
<a href="/">Home</a>

<form action="/BandList/" method="post">
  <button type="submit" class="btn btn-success">DESTROY ALL BANDS</button>
</form>
