@{
  Layout = "_Layout";
}

<div class="wrapper_nav">
  <div class="nav_left">
    <a href="/Venues">View All Venues</a>
    <a href="/BandList">View All Bands</a>
  </div>
</div>

<div class="wrapper_heading">
  <h1>BandTracker</h1>
<img src="../images/si-glyph-guitar.svg" width=130px ></img>

</div>
<form action='/venues' method="post">
  <label for="inputVenue">Enter your Venue:</label>
  <input name="inputVenue" class="form-control" id="inputVenue">
  <button type="submit" class="btn btn-success">Go.</button>
</form>
