@{
  Layout = "_Layout";
}


<h1>BandTracker</h1>

<form action='/venues' method="post">
  <label for="inputVenue">Enter your Venue:</label>
  <input name="inputVenue" class="form-control" id="inputVenue">
  <button type="submit" class="btn btn-success">Go.</button>
</form>

<a href="/Venues">View All Venues</a>
<a href="/BandList">View All Bands</a>
