<form action='/bands/@Model["band"].GetId()' method='post'>
  <input id='band-id' name='band-id' type='hidden' value='@Model["band"].GetId()'>
  <label for='inputVenue'>Name of Venue</label>
  <input id='inputVenue' name='inputVenue' type='text'>
  <button type='submit'>Add Venue</button>
</form>

<a href="/">Home</a>
